//nochange
@import 'mixins/mixin';
@import 'libs/reset';
//change

@import 'mixins/flex-grid';
@import 'components/text';
@import 'components/forms';



body{
  color:fuchsia;
  background-color: gold;
  font-family: $font-family;
}