html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5,
h6, p, blockquote, pre, a, abbr, acronym, address, big,
cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt,
dd, ol, ul, li, fieldset, form, label, legend, table, caption,
tbody, tfoot, thead, tr, th, td, article, aside, canvas, details,
embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

body, html {
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  html * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  html *:after {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  html *:before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }

.clearfix:before, .clearfix:after {
  content: "";
  display: table; }
.clearfix:after {
  clear: both; }

img, fieldset, a img {
  border: none; }

div, input, textarea, select, button,
h1, h2, h3, h4, h5, h6, a, span, a:focus {
  outline: none; }

ul, ol {
  list-style-type: none; }

table {
  border-spacing: 0;
  border-collapse: collapse;
  width: 100%; }

td,
th {
  padding: 0; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

small {
  font-size: 80%; }

a {
  background-color: transparent; }
  a:hover, a:active {
    outline: 0; }

.container {
  max-width: 930px;
  margin-left: auto;
  margin-right: auto; }

@media all and (max-width: 1079px) {
  .container {
    max-width: 880px; } }
@media all and (max-width: 991px) {
  .container {
    max-width: 90%; } }
.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  flex-wrap: wrap;
  -ms-flex-wrap: wrap; }
  .flex-row.ordered div[class*="flex-"]:nth-child(1) {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1; }
  .flex-row.ordered div[class*="flex-"]:nth-child(2) {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2; }
  .flex-row.ordered div[class*="flex-"]:nth-child(3) {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .flex-row.ordered div[class*="flex-"]:nth-child(4) {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .flex-row.ordered div[class*="flex-"]:nth-child(5) {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5; }
  .flex-row.ordered div[class*="flex-"]:nth-child(6) {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6; }
  .flex-row.ordered div[class*="flex-"]:nth-child(7) {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7; }
  .flex-row.ordered div[class*="flex-"]:nth-child(8) {
    -webkit-box-ordinal-group: 9;
        -ms-flex-order: 8;
            order: 8; }
  .flex-row.ordered div[class*="flex-"]:nth-child(9) {
    -webkit-box-ordinal-group: 10;
        -ms-flex-order: 9;
            order: 9; }
  .flex-row.ordered div[class*="flex-"]:nth-child(10) {
    -webkit-box-ordinal-group: 11;
        -ms-flex-order: 10;
            order: 10; }
  .flex-row.ordered div[class*="flex-"]:nth-child(11) {
    -webkit-box-ordinal-group: 12;
        -ms-flex-order: 11;
            order: 11; }
  .flex-row.ordered div[class*="flex-"]:nth-child(12) {
    -webkit-box-ordinal-group: 13;
        -ms-flex-order: 12;
            order: 12; }

.flex-row-around {
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.flex-row-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.flex-row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .flex-row-center > div[class*=flex] {
    margin-left: 0.46875rem;
    margin-right: 0.46875rem; }

.flex-col-1 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(8.3333333333% - 0.9375rem);
      flex-basis: calc(8.3333333333% - 0.9375rem); }

.flex-col-2 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(16.6666666667% - 0.9375rem);
      flex-basis: calc(16.6666666667% - 0.9375rem); }

.flex-col-3 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(25% - 0.9375rem);
      flex-basis: calc(25% - 0.9375rem); }

.flex-col-4 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(33.3333333333% - 0.9375rem);
      flex-basis: calc(33.3333333333% - 0.9375rem); }

.flex-col-5 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(41.6666666667% - 0.9375rem);
      flex-basis: calc(41.6666666667% - 0.9375rem); }

.flex-col-6 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(50% - 0.9375rem);
      flex-basis: calc(50% - 0.9375rem); }

.flex-col-7 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(58.3333333333% - 0.9375rem);
      flex-basis: calc(58.3333333333% - 0.9375rem); }

.flex-col-8 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(66.6666666667% - 0.9375rem);
      flex-basis: calc(66.6666666667% - 0.9375rem); }

.flex-col-9 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(75% - 0.9375rem);
      flex-basis: calc(75% - 0.9375rem); }

.flex-col-10 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(83.3333333333% - 0.9375rem);
      flex-basis: calc(83.3333333333% - 0.9375rem); }

.flex-col-11 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(91.6666666667% - 0.9375rem);
      flex-basis: calc(91.6666666667% - 0.9375rem); }

.flex-col-12 {
  -webkit-box-flex: 0;
      -ms-flex-positive: 0;
          flex-grow: 0;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: calc(100% - 0.9375rem);
      flex-basis: calc(100% - 0.9375rem); }

.flex-col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%; }

.flex-vertical {
  margin-top: auto;
  margin-bottom: auto; }

.flex-row.no-column {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row; }

.flex-offset-1 {
  margin-left: 8.3333333333%; }

.flex-offset-2 {
  margin-left: 16.6666666667%; }

.flex-offset-3 {
  margin-left: 25%; }

.flex-offset-4 {
  margin-left: 33.3333333333%; }

.flex-offset-5 {
  margin-left: 41.6666666667%; }

.flex-offset-6 {
  margin-left: 50%; }

.flex-offset-7 {
  margin-left: 58.3333333333%; }

.flex-offset-8 {
  margin-left: 66.6666666667%; }

.flex-offset-9 {
  margin-left: 75%; }

.flex-offset-10 {
  margin-left: 83.3333333333%; }

.flex-offset-11 {
  margin-left: 91.6666666667%; }

.flex-offset-12 {
  margin-left: 100%; }

.order-1 {
  -webkit-box-ordinal-group: 1 !important;
      -ms-flex-order: 0 !important;
          order: 0 !important; }

.order-2 {
  -webkit-box-ordinal-group: 2 !important;
      -ms-flex-order: 1 !important;
          order: 1 !important; }

.order-3 {
  -webkit-box-ordinal-group: 3 !important;
      -ms-flex-order: 2 !important;
          order: 2 !important; }

.order-4 {
  -webkit-box-ordinal-group: 4 !important;
      -ms-flex-order: 3 !important;
          order: 3 !important; }

.order-5 {
  -webkit-box-ordinal-group: 5 !important;
      -ms-flex-order: 4 !important;
          order: 4 !important; }

.order-6 {
  -webkit-box-ordinal-group: 6 !important;
      -ms-flex-order: 5 !important;
          order: 5 !important; }

.order-7 {
  -webkit-box-ordinal-group: 7 !important;
      -ms-flex-order: 6 !important;
          order: 6 !important; }

.order-8 {
  -webkit-box-ordinal-group: 8 !important;
      -ms-flex-order: 7 !important;
          order: 7 !important; }

.order-9 {
  -webkit-box-ordinal-group: 9 !important;
      -ms-flex-order: 8 !important;
          order: 8 !important; }

.order-10 {
  -webkit-box-ordinal-group: 10 !important;
      -ms-flex-order: 9 !important;
          order: 9 !important; }

.order-11 {
  -webkit-box-ordinal-group: 11 !important;
      -ms-flex-order: 10 !important;
          order: 10 !important; }

.order-12 {
  -webkit-box-ordinal-group: 12 !important;
      -ms-flex-order: 11 !important;
          order: 11 !important; }

@media all and (max-width: 1079px) {
  .flex-row-lg-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .flex-row-lg-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .flex-lg-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .flex-lg-center > div[class*=flex] {
      margin-left: 0.46875rem;
      margin-right: 0.46875rem; } }
@media all and (max-width: 1079px) {
  .flex-lg-1 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(8.3333333333% - 0.9375rem);
        flex-basis: calc(8.3333333333% - 0.9375rem); }

  .flex-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(16.6666666667% - 0.9375rem);
        flex-basis: calc(16.6666666667% - 0.9375rem); }

  .flex-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(25% - 0.9375rem);
        flex-basis: calc(25% - 0.9375rem); }

  .flex-lg-4 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(33.3333333333% - 0.9375rem);
        flex-basis: calc(33.3333333333% - 0.9375rem); }

  .flex-lg-5 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(41.6666666667% - 0.9375rem);
        flex-basis: calc(41.6666666667% - 0.9375rem); }

  .flex-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(50% - 0.9375rem);
        flex-basis: calc(50% - 0.9375rem); }

  .flex-lg-7 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(58.3333333333% - 0.9375rem);
        flex-basis: calc(58.3333333333% - 0.9375rem); }

  .flex-lg-8 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(66.6666666667% - 0.9375rem);
        flex-basis: calc(66.6666666667% - 0.9375rem); }

  .flex-lg-9 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(75% - 0.9375rem);
        flex-basis: calc(75% - 0.9375rem); }

  .flex-lg-10 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(83.3333333333% - 0.9375rem);
        flex-basis: calc(83.3333333333% - 0.9375rem); }

  .flex-lg-11 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(91.6666666667% - 0.9375rem);
        flex-basis: calc(91.6666666667% - 0.9375rem); }

  .flex-lg-12 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(100% - 0.9375rem);
        flex-basis: calc(100% - 0.9375rem); } }
@media all and (max-width: 1079px) and (min-width: 991px) {
  .flex-lg-offset-1 {
    margin-left: 8.3333333333%; }

  .flex-lg-offset-2 {
    margin-left: 16.6666666667%; }

  .flex-lg-offset-3 {
    margin-left: 25%; }

  .flex-lg-offset-4 {
    margin-left: 33.3333333333%; }

  .flex-lg-offset-5 {
    margin-left: 41.6666666667%; }

  .flex-lg-offset-6 {
    margin-left: 50%; }

  .flex-lg-offset-7 {
    margin-left: 58.3333333333%; }

  .flex-lg-offset-8 {
    margin-left: 66.6666666667%; }

  .flex-lg-offset-9 {
    margin-left: 75%; }

  .flex-lg-offset-10 {
    margin-left: 83.3333333333%; }

  .flex-lg-offset-11 {
    margin-left: 91.6666666667%; }

  .flex-lg-offset-12 {
    margin-left: 100%; } }
@media all and (max-width: 1079px) and (min-width: 991px) {
  .order-lg-1 {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important; }

  .order-lg-2 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important; }

  .order-lg-3 {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important; }

  .order-lg-4 {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important; }

  .order-lg-5 {
    -webkit-box-ordinal-group: 5 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important; }

  .order-lg-6 {
    -webkit-box-ordinal-group: 6 !important;
        -ms-flex-order: 5 !important;
            order: 5 !important; }

  .order-lg-7 {
    -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
            order: 6 !important; }

  .order-lg-8 {
    -webkit-box-ordinal-group: 8 !important;
        -ms-flex-order: 7 !important;
            order: 7 !important; }

  .order-lg-9 {
    -webkit-box-ordinal-group: 9 !important;
        -ms-flex-order: 8 !important;
            order: 8 !important; }

  .order-lg-10 {
    -webkit-box-ordinal-group: 10 !important;
        -ms-flex-order: 9 !important;
            order: 9 !important; }

  .order-lg-11 {
    -webkit-box-ordinal-group: 11 !important;
        -ms-flex-order: 10 !important;
            order: 10 !important; }

  .order-lg-12 {
    -webkit-box-ordinal-group: 12 !important;
        -ms-flex-order: 11 !important;
            order: 11 !important; } }
@media all and (max-width: 991px) {
  .flex-row-md-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .flex-row-md-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .flex-md-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .flex-md-center > div[class*=flex] {
      margin-left: 0.46875rem;
      margin-right: 0.46875rem; } }
@media all and (max-width: 991px) {
  .flex-md-1 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(8.3333333333% - 0.9375rem);
        flex-basis: calc(8.3333333333% - 0.9375rem); }

  .flex-md-2 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(16.6666666667% - 0.9375rem);
        flex-basis: calc(16.6666666667% - 0.9375rem); }

  .flex-md-3 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(25% - 0.9375rem);
        flex-basis: calc(25% - 0.9375rem); }

  .flex-md-4 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(33.3333333333% - 0.9375rem);
        flex-basis: calc(33.3333333333% - 0.9375rem); }

  .flex-md-5 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(41.6666666667% - 0.9375rem);
        flex-basis: calc(41.6666666667% - 0.9375rem); }

  .flex-md-6 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(50% - 0.9375rem);
        flex-basis: calc(50% - 0.9375rem); }

  .flex-md-7 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(58.3333333333% - 0.9375rem);
        flex-basis: calc(58.3333333333% - 0.9375rem); }

  .flex-md-8 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(66.6666666667% - 0.9375rem);
        flex-basis: calc(66.6666666667% - 0.9375rem); }

  .flex-md-9 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(75% - 0.9375rem);
        flex-basis: calc(75% - 0.9375rem); }

  .flex-md-10 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(83.3333333333% - 0.9375rem);
        flex-basis: calc(83.3333333333% - 0.9375rem); }

  .flex-md-11 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(91.6666666667% - 0.9375rem);
        flex-basis: calc(91.6666666667% - 0.9375rem); }

  .flex-md-12 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(100% - 0.9375rem);
        flex-basis: calc(100% - 0.9375rem); } }
@media all and (max-width: 991px) and (min-width: 764px) {
  .flex-md-offset-1 {
    margin-left: 8.3333333333%; }

  .flex-md-offset-2 {
    margin-left: 16.6666666667%; }

  .flex-md-offset-3 {
    margin-left: 25%; }

  .flex-md-offset-4 {
    margin-left: 33.3333333333%; }

  .flex-md-offset-5 {
    margin-left: 41.6666666667%; }

  .flex-md-offset-6 {
    margin-left: 50%; }

  .flex-md-offset-7 {
    margin-left: 58.3333333333%; }

  .flex-md-offset-8 {
    margin-left: 66.6666666667%; }

  .flex-md-offset-9 {
    margin-left: 75%; }

  .flex-md-offset-10 {
    margin-left: 83.3333333333%; }

  .flex-md-offset-11 {
    margin-left: 91.6666666667%; }

  .flex-md-offset-12 {
    margin-left: 100%; } }
@media all and (max-width: 991px) and (min-width: 764px) {
  .order-md-1 {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important; }

  .order-md-2 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important; }

  .order-md-3 {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important; }

  .order-md-4 {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important; }

  .order-md-5 {
    -webkit-box-ordinal-group: 5 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important; }

  .order-md-6 {
    -webkit-box-ordinal-group: 6 !important;
        -ms-flex-order: 5 !important;
            order: 5 !important; }

  .order-md-7 {
    -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
            order: 6 !important; }

  .order-md-8 {
    -webkit-box-ordinal-group: 8 !important;
        -ms-flex-order: 7 !important;
            order: 7 !important; }

  .order-md-9 {
    -webkit-box-ordinal-group: 9 !important;
        -ms-flex-order: 8 !important;
            order: 8 !important; }

  .order-md-10 {
    -webkit-box-ordinal-group: 10 !important;
        -ms-flex-order: 9 !important;
            order: 9 !important; }

  .order-md-11 {
    -webkit-box-ordinal-group: 11 !important;
        -ms-flex-order: 10 !important;
            order: 10 !important; }

  .order-md-12 {
    -webkit-box-ordinal-group: 12 !important;
        -ms-flex-order: 11 !important;
            order: 11 !important; } }
@media all and (max-width: 764px) {
  .flex-row-sm-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .flex-sm-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .flex-sm-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .flex-sm-center > div[class*=flex] {
      margin-left: 0.46875rem;
      margin-right: 0.46875rem; } }
@media all and (max-width: 764px) {
  .flex-sm-1 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(8.3333333333% - 0.9375rem);
        flex-basis: calc(8.3333333333% - 0.9375rem); }

  .flex-sm-2 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(16.6666666667% - 0.9375rem);
        flex-basis: calc(16.6666666667% - 0.9375rem); }

  .flex-sm-3 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(25% - 0.9375rem);
        flex-basis: calc(25% - 0.9375rem); }

  .flex-sm-4 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(33.3333333333% - 0.9375rem);
        flex-basis: calc(33.3333333333% - 0.9375rem); }

  .flex-sm-5 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(41.6666666667% - 0.9375rem);
        flex-basis: calc(41.6666666667% - 0.9375rem); }

  .flex-sm-6 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(50% - 0.9375rem);
        flex-basis: calc(50% - 0.9375rem); }

  .flex-sm-7 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(58.3333333333% - 0.9375rem);
        flex-basis: calc(58.3333333333% - 0.9375rem); }

  .flex-sm-8 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(66.6666666667% - 0.9375rem);
        flex-basis: calc(66.6666666667% - 0.9375rem); }

  .flex-sm-9 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(75% - 0.9375rem);
        flex-basis: calc(75% - 0.9375rem); }

  .flex-sm-10 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(83.3333333333% - 0.9375rem);
        flex-basis: calc(83.3333333333% - 0.9375rem); }

  .flex-sm-11 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(91.6666666667% - 0.9375rem);
        flex-basis: calc(91.6666666667% - 0.9375rem); }

  .flex-sm-12 {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    -ms-flex-preferred-size: calc(100% - 0.9375rem);
        flex-basis: calc(100% - 0.9375rem); } }
@media all and (max-width: 764px) and (min-width: 573px) {
  .flex-sm-offset-1 {
    margin-left: 8.3333333333%; }

  .flex-sm-offset-2 {
    margin-left: 16.6666666667%; }

  .flex-sm-offset-3 {
    margin-left: 25%; }

  .flex-sm-offset-4 {
    margin-left: 33.3333333333%; }

  .flex-sm-offset-5 {
    margin-left: 41.6666666667%; }

  .flex-sm-offset-6 {
    margin-left: 50%; }

  .flex-sm-offset-7 {
    margin-left: 58.3333333333%; }

  .flex-sm-offset-8 {
    margin-left: 66.6666666667%; }

  .flex-sm-offset-9 {
    margin-left: 75%; }

  .flex-sm-offset-10 {
    margin-left: 83.3333333333%; }

  .flex-sm-offset-11 {
    margin-left: 91.6666666667%; }

  .flex-sm-offset-12 {
    margin-left: 100%; } }
@media all and (max-width: 764px) and (min-width: 573px) {
  .order-sm-1 {
    -webkit-box-ordinal-group: 1 !important;
        -ms-flex-order: 0 !important;
            order: 0 !important; }

  .order-sm-2 {
    -webkit-box-ordinal-group: 2 !important;
        -ms-flex-order: 1 !important;
            order: 1 !important; }

  .order-sm-3 {
    -webkit-box-ordinal-group: 3 !important;
        -ms-flex-order: 2 !important;
            order: 2 !important; }

  .order-sm-4 {
    -webkit-box-ordinal-group: 4 !important;
        -ms-flex-order: 3 !important;
            order: 3 !important; }

  .order-sm-5 {
    -webkit-box-ordinal-group: 5 !important;
        -ms-flex-order: 4 !important;
            order: 4 !important; }

  .order-sm-6 {
    -webkit-box-ordinal-group: 6 !important;
        -ms-flex-order: 5 !important;
            order: 5 !important; }

  .order-sm-7 {
    -webkit-box-ordinal-group: 7 !important;
        -ms-flex-order: 6 !important;
            order: 6 !important; }

  .order-sm-8 {
    -webkit-box-ordinal-group: 8 !important;
        -ms-flex-order: 7 !important;
            order: 7 !important; }

  .order-sm-9 {
    -webkit-box-ordinal-group: 9 !important;
        -ms-flex-order: 8 !important;
            order: 8 !important; }

  .order-sm-10 {
    -webkit-box-ordinal-group: 10 !important;
        -ms-flex-order: 9 !important;
            order: 9 !important; }

  .order-sm-11 {
    -webkit-box-ordinal-group: 11 !important;
        -ms-flex-order: 10 !important;
            order: 10 !important; }

  .order-sm-12 {
    -webkit-box-ordinal-group: 12 !important;
        -ms-flex-order: 11 !important;
            order: 11 !important; } }
@media all and (max-width: 573px) {
  .flex-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }

  .flex-row-xs-around {
    -ms-flex-pack: distribute;
        justify-content: space-around; }

  .flex-xs-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }

  .flex-xs-center {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .flex-xs-center > div[class*=flex] {
      margin-left: 0.46875rem;
      margin-right: 0.46875rem; } }
html, body {
  line-height: 1.3;
  font-size: 16px; }

@media all and (max-width: 991px) {
  html, body {
    font-size: 14px !important; } }
@media all and (max-width: 764px) {
  html, body {
    font-size: 12px !important; } }
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  background: #0b172a;
  color: #7A8F99; }

h1 {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 1.5rem;
  color: #fff; }
  @media all and (max-width: 991px) {
    h1 {
      font-size: 28px; } }
  @media all and (max-width: 764px) {
    h1 {
      font-size: 22px; } }

.text {
  color: #7A8F99;
  margin-bottom: 0.66rem; }

.text_small {
  font-size: 12px; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  padding: 0;
  border: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none; }

button[disabled],
html input[disabled] {
  opacity: 1;
  filter: alpha(opactiy=100);
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }

button::-moz-focus-inner,
input[type=submit]::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

.radio-group {
  position: relative;
  display: inline-block;
  white-space: nowrap;
  font-size: 0;
  vertical-align: top; }

.form-field {
  margin: 1rem 0;
  position: relative; }
  .form-field > input + label {
    opacity: 0;
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: #7A8F99;
    font-size: 16px;
    padding: 1.25rem 1.5rem;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .form-field .input__animate_animated {
    padding: 2rem 1.5rem 0.5rem; }

input[type="search"], input[type="text"], input[type="password"], input[type="tel"], input[type="email"], input[type="url"], textarea {
  width: 100%;
  font-size: 16px;
  padding: 1.25rem 1.5rem;
  border: 1px solid #212d3e;
  background-color: #212d3e !important;
  color: #fff;
  border-radius: 0.25em; }
  input[type="search"]:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="email"]:focus, input[type="url"]:focus, textarea:focus {
    border: 1px solid #20a86b;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  input[type="search"]:invalid, input[type="search"].error, input[type="text"]:invalid, input[type="text"].error, input[type="password"]:invalid, input[type="password"].error, input[type="tel"]:invalid, input[type="tel"].error, input[type="email"]:invalid, input[type="email"].error, input[type="url"]:invalid, input[type="url"].error, textarea:invalid, textarea.error {
    border: 1px solid #e15433;
    -webkit-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  input[type="search"]:-ms-input-placeholder, input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="tel"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="url"]:-ms-input-placeholder, textarea:-ms-input-placeholder {
    font-size: 16px;
    color: #7A8F99; }
  input[type="search"]::-webkit-input-placeholder, input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="tel"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="url"]::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
    font-size: 16px;
    color: #7A8F99; }
  input[type="search"]::-ms-input-placeholder, input[type="text"]::-ms-input-placeholder, input[type="password"]::-ms-input-placeholder, input[type="tel"]::-ms-input-placeholder, input[type="email"]::-ms-input-placeholder, input[type="url"]::-ms-input-placeholder, textarea::-ms-input-placeholder {
    font-size: 16px;
    color: #7A8F99; }
  input[type="search"]::placeholder, input[type="text"]::placeholder, input[type="password"]::placeholder, input[type="tel"]::placeholder, input[type="email"]::placeholder, input[type="url"]::placeholder, textarea::placeholder {
    font-size: 16px;
    color: #7A8F99; }

input:-webkit-autofill {
  background-color: #212d3e !important;
  -webkit-box-shadow: inset 0 0 0 50px #212d3e !important;
  -webkit-text-fill-color: #fff !important;
  background-image: none !important;
  color: #fff !important; }

button, input[type="submit"], input[type="reset"], input[type="button"] {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.16875rem;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  border-radius: 0.25em; }
  @media all and (max-width: 764px) {
    button, input[type="submit"], input[type="reset"], input[type="button"] {
      font-size: 14px; } }
  button:hover, input[type="submit"]:hover, input[type="reset"]:hover, input[type="button"]:hover {
    background-color: #20a86b;
    border: 1px solid #20a86b; }
  button.btn_full, input[type="submit"].btn_full, input[type="reset"].btn_full, input[type="button"].btn_full {
    width: 100%; }
  button.btn_icon, input[type="submit"].btn_icon, input[type="reset"].btn_icon, input[type="button"].btn_icon {
    padding: 0.5em 1.16875rem 0.5em 3.01875rem; }

.radio {
  background-color: #212d3e; }
  .radio + label {
    cursor: pointer;
    display: inline-block;
    color: #7A8F99;
    z-index: 1;
    width: 6.1666666667rem;
    height: 2rem;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    padding: 0.3333333333rem 1.5416666667rem; }
    @media all and (max-width: 764px) {
      .radio + label {
        font-size: 14px; } }
  .radio:not(checked) {
    position: absolute;
    opacity: 0;
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    .radio:not(checked) + label {
      position: relative; }
    .radio:not(checked) + label:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 6.1666666667rem;
      height: 2rem;
      display: inline-block;
      background-color: #212d3e;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in;
      z-index: -1; }
    .radio:not(checked) + label:after {
      content: ' ';
      position: absolute;
      top: 2px;
      left: 0;
      width: 1px;
      height: 1.6666666667rem;
      display: inline-block;
      background-color: #0b172a; }
  .radio:checked + label {
    color: #fff; }
    .radio:checked + label:before {
      border: 1px solid #20a86b;
      background-color: #0b172a;
      color: #fff;
      border-radius: 0.25em; }
    .radio:checked + label:after {
      display: none; }

.checkbox {
  width: 2rem;
  height: 2rem; }
  .checkbox + label {
    cursor: pointer;
    display: inline-block; }
  .checkbox:not(checked) {
    position: absolute;
    opacity: 0;
    filter: alpha(opactiy=0);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)"; }
    .checkbox:not(checked) + label {
      position: relative;
      padding: 0 0 0 3rem; }
    .checkbox:not(checked) + label:before {
      content: ' ';
      position: absolute;
      top: 0;
      left: 0;
      width: 2rem;
      height: 2rem;
      display: inline-block;
      background-color: #212d3e;
      border-radius: 0.25em;
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
    .checkbox:not(checked) + label:after {
      content: '';
      position: absolute;
      left: 0.4375rem;
      top: 0.4166666667rem;
      width: 1.125rem;
      height: 0.875rem;
      background-image: url(../img/icons/sprite.png);
      background-position: -18px 0px;
      width: 18px;
      height: 14px;
      opacity: 0;
      filter: alpha(opactiy=0);
      -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
      -webkit-transition: all 0.2s ease-in;
      -o-transition: all 0.2s ease-in;
      transition: all 0.2s ease-in; }
  .checkbox:checked + label:after {
    opacity: 1;
    filter: alpha(opactiy=100);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)"; }
  .checkbox:checked + label:before {
    border: 1px solid #20a86b; }

.error-note {
  padding: 0.5rem 1.5rem 0.5rem 4rem;
  color: #fff;
  background-color: #e15433;
  position: relative;
  border-radius: 0.25em; }
  .error-note:after {
    content: '';
    position: absolute;
    top: 50%;
    left: 1.5rem;
    -webkit-transform: translate(0, -50%);
        -ms-transform: translate(0, -50%);
            transform: translate(0, -50%);
    width: 17px;
    height: 17px;
    background: url("../img/icons/sprite.png") no-repeat center;
    background-position: 0 0;
    border-radius: 0.25em; }

.form-field label.error {
  opacity: 1;
  background-color: #e15433;
  height: auto;
  color: #fff;
  width: 64%;
  left: 18%;
  padding: 0.5rem 1.5rem;
  border-radius: 0.25em;
  top: -3em;
  bottom: auto;
  text-align: center; }
  @media all and (max-width: 764px) {
    .form-field label.error {
      font-size: 14px; } }
  .form-field label.error:before {
    width: 0;
    height: 0;
    border-style: solid;
    position: absolute;
    content: '';
    border-width: 9px 8px 0 8px;
    border-color: #e15433 transparent transparent transparent;
    bottom: -7px;
    left: 50%;
    margin-left: -3.5px; }
.form-field label.placeholder__animate {
  opacity: 0;
  padding: 1.25rem 1.5rem;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  -webkit-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
  z-index: 2; }
  .form-field label.placeholder__animate_animated {
    font-size: 12px;
    -webkit-transform: translate(0, -20%);
        -ms-transform: translate(0, -20%);
            transform: translate(0, -20%);
    opacity: 1; }

.header {
  position: relative;
  margin: 0.66rem 0; }
  .header .header__logo {
    width: 140px;
    height: 16px;
    background-color: #fff; }
    @media all and (max-width: 573px) {
      .header .header__logo {
        width: 40px;
        height: 30px; } }

.icon-svg {
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 1rem center; }

.icon-svg {
  background-image: url("data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Eic/small/user%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12.6%2C16%20L1.6%2C16%20C0.639783%2C16%200%2C15.472164%200%2C14.422467%20C0%2C12.120092%202.062141%2C10.002624%204.4%2C10.002624%20L5%2C10.002624%20L5%2C9.06557%20C3.757807%2C8.43859%203%2C7.31631%203%2C5.96358%20L3%2C4.37417%20C3%2C1.91002%205.025756%2C0%207.6%2C0%20C10.03996%2C0%2012%2C1.87752%2012%2C4.1755%20L12%2C5.96358%20C12%2C7.33842%2011.2174%2C8.53592%2010%2C9.08598%20L10%2C10.002624%20L10.6%2C10.002624%20C13.00643%2C10.002624%2015%2C12.086237%2015%2C14.422467%20C15%2C15.584464%2014.25516%2C16%2012.6%2C16%20Z%20M10.6%2C11.002624%20L9.5%2C11.002624%20C9.22386%2C11.002624%209%2C10.778766%209%2C10.502624%20L9%2C8.74503%20C9%2C8.52945%209.13818%2C8.33814%209.34283%2C8.27038%20C10.34498%2C7.93854%2011%2C7.03223%2011%2C5.96358%20L11%2C4.1755%20C11%2C2.43965%209.49707%2C1%207.6%2C1%20C5.565316%2C1%204%2C2.47588%204%2C4.37417%20L4%2C5.96358%20C4%2C6.99975%204.624336%2C7.84145%205.691221%2C8.28304%20C5.878122%2C8.3604%206%2C8.54275%206%2C8.74503%20L6%2C10.502624%20C6%2C10.778766%205.776142%2C11.002624%205.5%2C11.002624%20L4.4%2C11.002624%20C2.620438%2C11.002624%201%2C12.666538%201%2C14.422467%20C1%2C14.872819%201.154154%2C15%201.6%2C15%20L12.6%2C15%20C13.77631%2C15%2014%2C14.875207%2014%2C14.422467%20C14%2C12.628881%2012.44402%2C11.002624%2010.6%2C11.002624%20Z%22%20id%3D%22path-1%22%3E%3C/path%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22ic/small/user%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%20transform%3D%22translate%285.000000%2C%204.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22color/white%22%20mask%3D%22url%28%23mask-2%29%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-5.000000%2C%20-5.000000%29%22%20id%3D%22Rectangle-3%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2225%22%20height%3D%2226%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E"); }

.icon {
  display: inline-block; }

.icon_attention {
  background-image: url(../img/icons/sprite.png);
  background-position: 0px 0px;
  width: 17px;
  height: 17px; }

.btn {
  text-decoration: none;
  display: inline-block;
  padding: 0.5em 1.16875rem;
  border: 1px solid #fff;
  background-color: transparent;
  cursor: pointer;
  font-weight: 700;
  color: #fff;
  font-size: 16px;
  border-radius: 0.25em; }
  @media all and (max-width: 764px) {
    .btn {
      font-size: 14px; } }
  .btn:hover {
    background-color: #20a86b;
    border: 1px solid #20a86b; }
  .btn.btn_full {
    width: 100%; }
  .btn.btn_icon {
    padding: 0.5em 1.16875rem 0.5em 3.01875rem; }

.autorisation__block {
  margin-top: 2rem;
  position: relative; }
  .autorisation__block .autorisation__block_form {
    max-width: 440px; }
    @media all and (max-width: 991px) {
      .autorisation__block .autorisation__block_form {
        max-width: 320px; } }
    @media all and (max-width: 573px) {
      .autorisation__block .autorisation__block_form {
        margin: 0 auto; } }
  .autorisation__block:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 46%;
    height: 613px;
    display: block;
    background: url("../img/macbook.png") no-repeat center;
    background-position: bottom left; }
    @media all and (max-width: 764px) {
      .autorisation__block:after {
        display: none; } }
  .autorisation__block:before {
    content: ' ';
    position: absolute;
    top: 131px;
    right: 46%;
    -webkit-transform: translate(96%, 0);
        -ms-transform: translate(96%, 0);
            transform: translate(96%, 0);
    z-index: 1;
    width: 245px;
    height: 482px;
    display: block;
    background: url("../img/iphone.png") no-repeat center;
    background-size: contain; }
    @media all and (max-width: 764px) {
      .autorisation__block:before {
        right: 36%; } }
    @media all and (max-width: 573px) {
      .autorisation__block:before {
        display: none; } }
  .autorisation__block .autorisation__block_item {
    color: #7A8F99;
    padding-left: 2.5rem;
    position: relative;
    margin-bottom: 1.5rem; }
    @media all and (max-width: 764px) {
      .autorisation__block .autorisation__block_item {
        font-size: 14px; } }
    .autorisation__block .autorisation__block_item:before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      left: 0;
      top: 0;
      background-image: url(../img/icons/sprite.png);
      background-position: -18px 0px;
      width: 18px;
      height: 14px; }

.radio-text {
  padding-right: 1rem; }
/*# sourceMappingURL=style.css.map */
