//CONTAINER

//FONT-SIZE

//COLORS
$bgcolor:#0b172a;
$input:#212d3e;
$error:#e15433;
$success:#20a86b;
$main-text: #7A8F99;
$black: #000;
$white: #fff;

//FONTS
$font-family: 'Open Sans', Arial, Helvetica, sans-serif;


//URLS
$url-img: "../img/";


//font size settings


html, body {
  line-height: 1.3;
  font-size: 16px;
}

@include md {
  html, body {

    font-size: 14px !important;
  }
}

@include sm {
  html, body {
    font-size: 12px !important;
  }
}



//TEXT
body{
  font-family: $font-family;
  background: $bgcolor;
}

h1{
  font-size: 36px;
font-weight: 700;
  margin-bottom: 0.66rem;

}

//usage class
.center-text {
  text-align: center;
}
