//URLS
$url-img: "../img/";
$url-icons:  "../img/icons/";

//CONTAINER

//FONT-SIZE

//COLORS
$bgcolor:#0b172a;
$input:#212d3e;
$error:#e15433;
$success:#20a86b;
$main-text: #7A8F99;
$black: #000;
$white: #fff;


