
.header {
  position: relative;

  margin: 0.66rem 0;

  .header__logo {
    width: 140px;
    height: 16px;
    background-color: $white;
    @include xs {
      width: 40px;
      height: 30px;
    }
  }
}
//icons
.icon-svg {;
  background-repeat: no-repeat;
  background-size: 1.5rem;
  background-position: 1rem center;

}

.icon-svg {
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22UTF-8%22%3F%3E%0A%3Csvg%20width%3D%2224px%22%20height%3D%2224px%22%20viewBox%3D%220%200%2024%2024%22%20version%3D%221.1%22%20xmlns%3D%22http%3A//www.w3.org/2000/svg%22%20xmlns%3Axlink%3D%22http%3A//www.w3.org/1999/xlink%22%3E%0A%20%20%20%20%3C%21--%20Generator%3A%20Sketch%2050.2%20%2855047%29%20-%20http%3A//www.bohemiancoding.com/sketch%20--%3E%0A%20%20%20%20%3Ctitle%3Eic/small/user%3C/title%3E%0A%20%20%20%20%3Cdesc%3ECreated%20with%20Sketch.%3C/desc%3E%0A%20%20%20%20%3Cdefs%3E%0A%20%20%20%20%20%20%20%20%3Cpath%20d%3D%22M12.6%2C16%20L1.6%2C16%20C0.639783%2C16%200%2C15.472164%200%2C14.422467%20C0%2C12.120092%202.062141%2C10.002624%204.4%2C10.002624%20L5%2C10.002624%20L5%2C9.06557%20C3.757807%2C8.43859%203%2C7.31631%203%2C5.96358%20L3%2C4.37417%20C3%2C1.91002%205.025756%2C0%207.6%2C0%20C10.03996%2C0%2012%2C1.87752%2012%2C4.1755%20L12%2C5.96358%20C12%2C7.33842%2011.2174%2C8.53592%2010%2C9.08598%20L10%2C10.002624%20L10.6%2C10.002624%20C13.00643%2C10.002624%2015%2C12.086237%2015%2C14.422467%20C15%2C15.584464%2014.25516%2C16%2012.6%2C16%20Z%20M10.6%2C11.002624%20L9.5%2C11.002624%20C9.22386%2C11.002624%209%2C10.778766%209%2C10.502624%20L9%2C8.74503%20C9%2C8.52945%209.13818%2C8.33814%209.34283%2C8.27038%20C10.34498%2C7.93854%2011%2C7.03223%2011%2C5.96358%20L11%2C4.1755%20C11%2C2.43965%209.49707%2C1%207.6%2C1%20C5.565316%2C1%204%2C2.47588%204%2C4.37417%20L4%2C5.96358%20C4%2C6.99975%204.624336%2C7.84145%205.691221%2C8.28304%20C5.878122%2C8.3604%206%2C8.54275%206%2C8.74503%20L6%2C10.502624%20C6%2C10.778766%205.776142%2C11.002624%205.5%2C11.002624%20L4.4%2C11.002624%20C2.620438%2C11.002624%201%2C12.666538%201%2C14.422467%20C1%2C14.872819%201.154154%2C15%201.6%2C15%20L12.6%2C15%20C13.77631%2C15%2014%2C14.875207%2014%2C14.422467%20C14%2C12.628881%2012.44402%2C11.002624%2010.6%2C11.002624%20Z%22%20id%3D%22path-1%22%3E%3C/path%3E%0A%20%20%20%20%3C/defs%3E%0A%20%20%20%20%3Cg%20id%3D%22ic/small/user%22%20stroke%3D%22none%22%20stroke-width%3D%221%22%20fill%3D%22none%22%20fill-rule%3D%22evenodd%22%3E%0A%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Page-1%22%20transform%3D%22translate%285.000000%2C%204.000000%29%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cmask%20id%3D%22mask-2%22%20fill%3D%22white%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cuse%20xlink%3Ahref%3D%22%23path-1%22%3E%3C/use%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/mask%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22Clip-2%22%3E%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20id%3D%22color/white%22%20mask%3D%22url%28%23mask-2%29%22%20fill%3D%22%23FFFFFF%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Cg%20transform%3D%22translate%28-5.000000%2C%20-5.000000%29%22%20id%3D%22Rectangle-3%22%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%2225%22%20height%3D%2226%22%3E%3C/rect%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%20%20%20%20%3C/g%3E%0A%20%20%20%20%3C/g%3E%0A%3C/svg%3E');

}
.icon{
  display: inline-block;
}
.icon_attention{
  @include sprite($attention);
}


.btn {
  @include btn;
}

.autorisation__block {
  margin-top: 2rem;
  position: relative;

  .autorisation__block_form {

    max-width: 440px;
    @include md {
      max-width: 320px;

    }
    @include xs {
      margin: 0 auto;
    }
  }
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 46%;
    height: 613px;
    display: block;
    @include bg-png(macbook);
    background-position: bottom left;
    @include sm {
      display: none;
    }
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 131px;
    right: 46%;
    transform: translate(96%, 0);
    z-index: 1;
    width: 245px;
    height: 482px;
    display: block;
    @include bg-png(iphone);
    background-size: contain;
    @include sm {
      right: 36%;
    }

    @include xs {
      display: none;
    }
  }

  .autorisation__block_item {

    color: $main-text;
    padding-left: 2.5rem;
    position: relative;
    margin-bottom: 1.5rem;
    @include sm {
      font-size: 14px;
    }
    &:before {
      position: absolute;
      content: "";
      display: inline-block;
      width: 1.25rem;
      height: 1.25rem;
      left: 0;
      top: 0;
      @include sprite($check);
    }
  }
}

.radio-text {
  padding-right: 1rem;
}