
.header {
  position: relative;

  margin: 0.66rem 0;

  .header__logo {
    width: 140px;
    height: 16px;
    background-color: $white;
    @include media-breakpoint-up(xs) {
      width: 40px;
      height: 30px;
    }
  }
}

//icons
.icon {
  display: inline-block;
}

.icon-svg--user {
  @include before-svg-icon(3.01875rem, user);
  &:before {
    height: 24px;
    width: 24px;
    top: 50%;
    transform: translate(0, -50%);
    left: 1rem;

  }

}

.icon--attention {
  @include sprite($attention);
}

.icon-svg--eye-opened {
  @include svg-icon(eye-opend)
}

.icon-svg--eye-closed {
  @include svg-icon(eye-closed)
}

.section__autorisation {
  margin-top: 2rem;
  position: relative;

  .autorisation__block {

    max-width: 440px;
    @include media-breakpoint-up(md) {
      max-width: 320px;

    }
    @include media-breakpoint-up(xs) {
      margin: 0 auto;
    }
  }
  &:after {
    content: ' ';
    position: absolute;
    top: 0;
    right: 0;
    width: 46%;
    height: 613px;
    display: block;
    @include bg-png(macbook);
    background-position: bottom left;
    @include media-breakpoint-up(sm)  {
      display: none;
    }
  }

  &:before {
    content: ' ';
    position: absolute;
    top: 131px;
    right: 46%;
    transform: translate(96%, 0);
    z-index: 1;
    width: 245px;
    height: 482px;
    display: block;
    @include bg-png(iphone);
    background-size: contain;
    @include media-breakpoint-up(sm)  {
      right: 36%;
    }

    @include media-breakpoint-up(xs) {
      display: none;
    }
  }

  .autorisation__list-item {

    color: $main-text;
    margin-bottom: 1.5rem;
    @include before-png-icon(2.5rem, $check);
    @include media-breakpoint-up(sm)  {
      font-size: 14px;
    }
    &:before {
      left: 0;
      top: 0;
    }
  }
}

